@import url('~@imagina/qsite/_css/globalStyle.styl');//Core styles [Do not remove]
//Set Global style...

$white = #fff
$text-brand-dark = #212529
$bg-brand-dark = #263238

$font-primary = 'Roboto', sans-serif
$font-secondary = 'Source Sans Pro', sans-serif

.text-muted
	color #707070

.row-expand
	margin-left -10px
	margin-right -10px

.col-padding
	padding-left 10px
	padding-right 10px
