@import url('~@imagina/qsite/_css/globalStyle.styl');//Core styles [Do not remove]
//Set Global style...
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto:400,500&display=swap')

$white = #fff
$text-brand-dark = #212529
$bg-brand-dark = #263238
$brand-green = #4ac18e
$brand-blue = #67a8e4

$font-primary = 'Roboto', sans-serif
$font-secondary = 'Source Sans Pro', sans-serif

.text-muted
  color #707070

.row-expand
  margin-left -10px
  margin-right -10px

.col-padding
  padding-left 10px
  padding-right 10px

pseudo()
  position absolute
  content ''

absolute-center()
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)

ul, ol
  padding 0
  margin 0
  list-style-type none

/***** Form Elements *****/
.q-field
  font-family $font-secondary
  font-size 16px

.q-btn
  font-family $font-secondary !important
  font-size 16px !important
  text-transform initial

  &__wrapper:before
    display none

  &.bg-positive
    background $brand-green !important

  &.bg-info
    background $brand-blue !important

  .q-icon
    font-size 16px

#authLoginRegister
  --q-color-primary initial !important

  .q-card
    padding 40px 30px 25px

  .q-tab
    text-transform initial
    pointer-events none

    .q-focus-helper
      display none

    &__label
      color $text-brand-dark
      font-size 18px
      font-weight 500

    &__indicator
      display none

  .q-separator
    display none

  .q-icon
    font-size 16px

  button.q-btn
    display table
    margin 0 auto
    background $brand-blue !important

  a.q-btn
    .q-focus-helper
      display none
